.popular-list {
    width: 31.5%;
    background-color: $color-white;
    height: 52rem;

    @media only screen and (max-width:800px) {
        width: 45%;
        margin-bottom: 1.5rem;
    }

    @media only screen and (max-width:600px) {
        width: 90%;
    }

    &__header {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: $color-white;
        font-size: 1.5rem;
        text-transform: uppercase;
        background-color: $color-primary;
        height: 12.9%;
        border-bottom: .7rem solid $color-secondary;
        @include alignCenterFlex;
        padding-left: 1.4rem;
        position: relative;
    }

    &__items {
        display: flex;
        flex-direction: column;
        height: calc(100%-12.9%);
        width: 100%;
        padding: 0 1.5rem;
        justify-content: space-evenly;
        position: relative;
    }

    &__view-all {
        position: absolute;
        color: $color-secondary;
        top: -.7rem;
        right: 2.5rem;
        text-transform: capitalize;
        font-weight: bold;
    }

    &__underline {
        height: 1px;
        width: 100%;
        background-color: $color-grey-light-primary;
    }


}