.btn {



    &__search {
        font-size: $default-font-size;
        width: 10%;
        height: 100%;
        position: relative;
        background-color: transparent;
        border: none;
        outline: none;
        transition: transform .1s ease;
        color: $color-secondary;

        &:active {
            transform: translateY(.1rem);
        }
    }
}