.card-faq {
    height: 31.8rem;
    width: 31.2rem;

    @media only screen and (max-width: 1300px) {
        width: 23%;
    }

    @media only screen and (max-width: 900px) {
        width: 31.2rem;
        margin-bottom: 2rem;
    }

    @media only screen and (max-width: 700px) {
        width: 48%;
    }

    @media only screen and (max-width: 600px) {
        width: 80%;
        height: 42.8rem;
    }


    &__image {
        height: 20rem;
        border-bottom: 1rem solid $color-secondary;
        background-repeat: no-repeat;

        @media only screen and (max-width: 600px) {
            background-size: cover;
            height: 30rem;
        }

        &--1 {
            background-image: url(../img/how-to/how-to-1-bg.png);
            background-size: 131%;
            background-position: -5.5rem -1.5rem;

            @media only screen and (max-width: 1260px) {
                background-size: 200%;

            }

        }

        &--2 {
            background-image: url(../img/how-to/how-to-2-bg.png);
            background-position: -8rem -13rem;

            @media only screen and (max-width: 600px) {
                background-size: 150%;
            }
        }

        &--3 {
            background-image: url(../img/how-to/how-to-3-bg.png);
            background-position: -2rem -.5rem;

            @media only screen and (max-width: 600px) {
                background-size: 150%;

            }
        }

        &--4 {
            background-image: url(../img/how-to/how-to-4-bg.png);
            background-position: 0 -5rem;

            @media only screen and (max-width: 600px) {
                background-size: 150%;
            }
        }


    }

    &:hover &__link {
        opacity: 1;
    }

    &__link {
        height: 100%;
        width: 100%;
        @include abCenterFlex;
        background-color: rgba($color-black, .7);
        opacity: 0;
        transition: all .3s;

    }

    &__hover-icon {
        width: 7rem;
        height: 7rem;
        fill: $color-secondary;
    }

    &__details {
        padding: 2.5rem 2.5rem 3rem;
        background-color: $color-white;

        @media only screen and (max-width: 1100px) {
            padding: 2rem 1.5rem 3rem;
        }

        @media only screen and (max-width: 1020px) {
            padding: 2rem .5rem 3rem;
        }

        @media only screen and (max-width: 900px) {
            padding: 2rem 2rem 3rem;
        }

        @media only screen and (max-width: 600px) {
            padding: 2.5rem 2.5rem 3rem;
        }
    }

    &__title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1.3rem;
    }

    &__category {
        @include alignCenterFlex;
        justify-content: space-between;


    }

    &__category-name {
        font-size: 1.3rem;
        text-transform: uppercase;
        border-bottom: .1rem solid $color-grey-light-quaternary;
        border-top: .1rem solid $color-grey-light-quaternary;
        border-right: .1rem solid $color-grey-light-quaternary;
        padding: .2rem 1.8rem;
        position: relative;
        z-index: 1;

        // border made on the left side
        &::before {
            content: '';
            width: 10%;
            height: calc(100% +.2rem);
            background-color: $color-secondary;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            z-index: 1;
        }
    }

    &__date {
        font-size: 1.4rem;
        @include alignCenterFlex;
    }

    &__icon {
        fill: grey;
        height: 1.4rem;
        margin-right: .7rem;

        @media only screen and (max-width: 950px) {
            margin-right: .3rem;
        }
    }


}