body {
    font-size: $default-font-size;
    font-family: 'PT Sans', sans-serif;
}

.heading-primary {
    color: $color-white;
    font-size: 3.5rem;
    margin-bottom: 5.4rem;
    margin-top: 9.8rem;
}


.most-popular__heading {

    color: $color-white;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 4.6rem;
}

.heading-secondary {
    margin-top: 1.5rem;
    color: $color-primary;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 5rem;
}

.heading-tertiary {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $color-primary;
    line-height: 0.1em;
    margin-bottom: 5.7rem;


    &--title {
        background-color: $color-grey-light-tertiary;
        padding: 0 2.1rem;
        font-size: 3rem;
        color: $color-primary;
    }

}