.header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../../img/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 76.8rem;
    position: relative;
}