.header {
    background: url(../img/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 76.8rem;
    position: relative;
    @include abCenterFlex;
    flex-direction: column;
    overflow: hidden;

    @media only screen and (max-width: 510px) {
        overflow: initial;
        align-items: initial;
        justify-content: unset;
    }

    &__cards {
        @include abCenterFlex;
        z-index: 1;

        @media only screen and (max-width: 750px) {
            margin-top: -5rem;
            flex-wrap: wrap;
        }

        @media only screen and (max-width: 660px) {
            justify-content: space-evenly;
        }

        @media only screen and (max-width: 510px) {
            width: 100%;
        }
    }


}


.create-your-own {
    background-color: $color-grey-light-secondary;
    @include alignCenterFlex;

    &__cards {
        @include alignCenterFlex;
        justify-content: space-between;
        flex-wrap: wrap;


        @media only screen and (max-width:1380px) {
            justify-content: space-evenly;

        }
    }


}

.most-popular {

    background-image: url(../img/section-most-popular-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -38rem;



    &__lists {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media only screen and (max-width:1370px) {
            justify-content: space-evenly;
        }
    }

    @media only screen and (max-width:1620px) {
        background-size: 150%;
    }


    @media only screen and (max-width:1000px) {
        background-size: 200%;
    }

    @media only screen and (max-width:800px) {
        background-size: 300%;
    }

    @media only screen and (max-width:750px) {
        background-size: 400%;
    }

    @media only screen and (max-width:600px) {
        background-size: 600%;

    }

    @media only screen and (max-width:510px) {
        background-size: 800%;
    }

    @media only screen and (max-width:370px) {
        background-size: 1000%;

    }
}

.latest-songs {


    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: .7rem;

        @media only screen and (max-width: 1400px) {
            justify-content: space-evenly;
        }

    }
}

.how-to {
    min-height: 53rem;
    background-color: $color-grey-light-tertiary;
    padding: 1.8rem 0 .5rem;

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media only screen and (max-width: 1390px) {
            justify-content: space-evenly;
        }


    }
}