@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@mixin hoverableLinkSecondaryColor {

    &:link,
    &:visited {
        color: $color-secondary;
    }

    &:hover {
        color: darken($color-secondary, 15%);
    }
}

@mixin abCenterFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin alignCenterFlex {
    display: flex;
    align-items: center;
}