// COLORS

$color-primary:#333333;
$color-secondary: #bcde29;

$color-white: #ffffff;
$color-black: #000000;

$color-blue-light: #0a83ff;

$color-grey-light: #c0c0c0;
$color-grey-light-primary:#adadad;
$color-grey-light-secondary: #eaecf2;
$color-grey-light-tertiary: #eaf0f6;
$color-grey-light-quaternary: #e1e1e1;
$color-grey: #b0b0b0;

$color-green-dark: #5c6630;
// FONT SIZE

$default-font-size: 1.6rem;